#moreInfoModal {
    /*width: 75% !important;*/
}

.smallCard {
    font-size: .6em !important;
    width: 10%;
}

.smallCard h5 {
    font-size: 1.2em !important;
}

#navbarLogo {
    height: 3em;
    width: auto
}

#listCardImages {
    position: relative;
}

.listCardFeatured {
    height: 8em;
}