#moreInfoModal {
    z-index: 2001 !important;
}

#moreInfoModalDialog {
    z-index: 2002 !important;
}

#listModal {
    z-index: 1999 !important;
}

#listModalDialog {
    z-index: 2000;
}

.smallCard {
    font-size: .6em !important;
    width: 10%;
}

.smallCard h5 {
    font-size: 1.2em !important;
}

#navbarLogo {
    height: 3em;
    width: auto
}

#listCardImages {
    position: relative;
}

.listCardFeatured {
    height: 8em;
}

.listLiked input[type="checkbox"][id^="listLikeButton"] {
    display: none;
}

.listLiked label {
    position: relative;
    cursor: pointer;
}

.listLiked label:before {
    background-color: white;
    color: white;
    content: " ";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

.listLiked label i {
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

.listLiked :checked + label i {
    transform: scale(1.1);
    color: #3bf282;
    z-index: -1;
}