colors {
    color: #00887A;
    color: #FFCCBC;
    color: #FFFFFF;
    color: #D3E3FC;
    color: #77A6F7;
}

/*font-family: 'Baskervville', serif;*/
/*font-family: 'Epilogue', sans-serif;*/
/*font-family: 'Space Mono', monospace;*/

.homeScreenText {
    color: #00887A;
    font-size: 4em;
    font-weight: bold;
}

body {
    font-family: 'Epilogue', sans-serif;
}

.nav-item a {
    transition-duration: 1.0s;
    transform-origin: 50% 50%;
    margin: 1rem;
    background-color: #D3E3FC;
    border: none;
    border-radius: 2rem !important;
    color: white !important
}

.nav-item a:before {
    transition-duration: 1.0s;
    transform: scale(0);
    border: none;
    /*color: white !important;*/
}

.nav-item .active {
    transition-duration: 1.0s;
    transform: scale(1.4);
    background-color: #77A6F7 !important;
    border: none;
    font-weight: bold;
    color: white !important;
}

.sectionDiv {
    background-color: #77A6F7;
    border-radius: 2rem;
    padding: 1.5rem;
    color: white;
}

.creamBG {
    background-color: #FFCCBC;
}

.profilePicture {
    width: 1.7em;
    height: 1.7em;
    border: black 1px solid;
    border-radius: 50%;
}

.profilePictureListComment {
    width: 5em;
    height: 5em;
    border: black 1px solid;
    border-radius: 50%;
}

#profilePageProfilePicture {
    width: 12em;
    height: 12em;
    border: black 1px solid;
    border-radius: 50%;
    /*box-shadow: black 0 0 20px;*/
}

.bg-custom1 {
    /*background-color: #0c204c;*/
}

.smallCard {
    font-size: .8em !important;
    width: 20%;
}

.smallCard h5 {
    font-size: 1.4em !important;
}

.smallCardImg {
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
}

#navbarLogo {
    height: 3em;
    width: auto
}

.divGlow {
    /*box-shadow: black 0 0 20px;*/
}

.listTitle {
    /*text-shadow: black 0 0 15px !important;*/
    /*font-weight: bold !important;*/
    /*color: #3bf281 !important;*/
}

.smallPoster {
    /*height: 4em;*/
    width: 15%;
    cursor: pointer;
}

.cardFontSize {
    font-size: .85em;
}

.listCardImages {
    position: relative;
}

.listCardFeatured {
    height: 8em;
}

.listCard, .discoverCard {
    cursor: pointer;
}

#popularListFilterSearchInput, #popularListFilterSearchButton {
    height: 2em;
}

.listLiked input[type="checkbox"][id^="listLikeButton"] {
    display: none;
}

#editListLiked input[type="checkbox"][id^="editListLikeButton"] {
    display: none;
}

.listLiked label {
    position: relative;
    cursor: pointer;
}

.listLiked label:before {
    background-color: white;
    color: white;
    content: " ";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

.listLiked label i {
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

.listLiked :checked + label i {
    transform: scale(1.1);
    color: #3bf282;
    z-index: -1;
}

.topRatedFilter input[type="checkbox"] {
    display: none;
}

.topRatedFilter label {
    position: relative;
    cursor: pointer;
}

.topRatedFilter label:before {
    background-color: white;
    color: white;
    content: " ";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

.topRatedFilter label span {
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

.topRatedFilter :checked + label span {
    transform: scale(1.1);
    background-color: #de4e5d !important;
    z-index: -1;
}

.popularListFilterButtonsContainer input[type="radio"] {
    display: none;
}

.popularListFilterButtonsContainer label {
    position: relative;
    cursor: pointer;
}

.popularListFilterButtonsContainer label:before {
    background-color: white;
    color: white;
    content: " ";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

.popularListFilterButtonsContainer label span {
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

.popularListFilterButtonsContainer input[type="radio"]:checked + label span, .discoverContentButtons .active {
    transform: scale(1.1);
    background-color: #de4e5d !important;
    z-index: -1;
}
